.card {

  //FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem; //this is for it works in mozila browser
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; //when I put the image on the card, it overflows its parent and the border-radius of 3px was gone. This fixes the problem.
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    color: white;
    font-size: 1.5rem;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }  

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); //this is for guarantee that the polygon will work in all browsers
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: url(../img/nat-5.jpg);
    }

    &--3 {
      background-image: url(../img/nat-5.jpg);
    }
  }
}